<!DOCTYPE html>
<html>
    <head>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="js/script.js" defer></script>
    </head>
    <body>

        <h1>Hello World!</h1>
        <div id="app">
            
            Enter your name: <input type="text" name="name" id="name" v-model='myName'>
            <br />
            <button @click="signIn()">Sign In</button>
            <h2>{{response.message}}</h2>
            <div v-if="response.loggedIn">
                <h3 v-if="response.beenBefore">Welcome Back!</h3>
                <h3 v-else>N00b!</h3>
                <h3 v-if="response.allNames.length > 0">Here are the people who signed in so far:</h3>
                <ul>
                    <li v-for="name in response.allNames">{{ name }}</li>
                </ul>
            </div>
            
        </div>
        
    </body>
</html>
